/*.post {
	display: block;
	padding: 0px 25px;
}
.post-header { margin-bottom: -15px; }
.date {
	float:right;
	margin-right: 20px;
	font-size: 14px;
}
.post-content {
	font-size: 12pt;
	font-family: 'Georgia', Georgia, Times, serif;
}
.continue-reading {
	margin: 0px 25px 0px 0px;
	padding: 0px;
	line-height: 1.0em;
	font-size: 16px;
	font-style: italic;
	text-align: right;
}
.continue-reading a { text-decoration: none; }
.continue-reading a:hover { text-decoration: underline }*/