div.vcard {
	margin: auto;
	padding: 20px 0px 0px 20px;
	width: 375px;
	height: 170px;
}
div.vcard p, div.vcard a {
	margin: 0px;
	line-height: normal;
}
div.vcard img.photo {
	float: left;
	margin-right: 20px;
	border-radius: 5px;
}
div.vcard div#links {
	width: 300px;
	height: 26px;
	margin-left: 170px;
}
div.vcard div#links a {
	display: block;
	width: 26px;
	height: 26px;
	margin-left: 4px;
	float: left;
	text-indent: -1000px;
}
div.vcard div#links a:hover {
	background-color: #7f7f7f;
	border-radius: 2px;
}
div.vcard div#links a.email {
	margin-left: 0px;
	background: url(../images/icons/email.png) 1px 1px no-repeat; 
}
div.vcard div#links a#aim { background: url(../images/icons/aim.png) 1px 1px no-repeat; }
div.vcard div#links a#skype { background: url(../images/icons/skype.png) 1px 1px no-repeat; }
div.vcard div#links a#twitter { background: url(../images/icons/twitter.png) 1px 1px no-repeat; }