html { background-color: white; }
body {
	font-family: "Fontin", "Fontin Sans", Helvetica, Sans-Serif;
	font-size: 20px;
	line-height: 30px;
	width: 700px;
	margin: 20px auto;
	display: block;
}
body > header {
	display: block;
}
body > header a {
	text-decoration: none;
	color: black;
}
#logotype {
    display: block;
    margin-bottom: -30px;
    font-size: 13px;
}
section#content {
	margin: auto;
	padding: 15px;
	display: block;
	border: 6px solid #c5e7c5;
	border-radius: 4px;
	background-color: white;
}
nav {
	display: block;
	margin: -20px 0px 0px 0px;
	padding-left: 2em;
}
nav ul {
	margin: 0px;
	padding: 0px;
	text-align: right;
	font-family: "Fontin", "Fontin Sans", Helvetica, Sans-Serif;
	font-size: 13px;
}
nav li {
	display: inline;
	padding-left: 2em;
}
#introduction {
    margin: 0px;
    font-size: 35px;
    line-height: 1em;
    font-style: italic;
}
#details {
    margin: 0px;
    font-size: 18px;
}
.highlighted {
    font-style: italic;
    color: #008d00;
}
section#bottomNav {
	padding: 0px 0px 25px 25px;
	display: block;
}
img { border-width: 0px; }
a { color: gray; }
h1 {
	font-size: 20pt;
	font-weight: bold;
}
h2 { font-size: 16pt; }
h1 a {
  color: black;
  text-decoration: none;
}
a:hover { text-decoration: underline; }
h1, h2, h3, h4 {
	display: inline;
	margin: 0;
	font-weight: 600;
}
code { font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono; }
pre { padding: 20px; }
blockquote { font-style: italic; }
section.content > blockquote {
	margin: 0px;
	padding: 0px;
	font-style: normal;
}
footer {
	text-align: left;
	font-style: italic;
	font-size: 18px;
	color: #888;
}
.centerImage {
	text-align:center;
	margin: 0px;
	padding:0px;
}