<!DOCTYPE HTML>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="stylesheet" href="/fonts/fontin/stylesheet.css">
		{% if page.syntax-highlighting %}
		<link rel="stylesheet" href="/stylesheets/syntax-highlighting.css">
		{% endif %}
		{% if page.stylesheet != nil %}
		<link rel="stylesheet" href="/stylesheets/{{ page.stylesheet }}">
		{% endif %}
		<link rel="alternate" type="application/atom+xml" title="George Woodliff Stanley's Website - feed" href="/index.xml">
		<title>George Woodliff-Stanley - {{ page.title }}</title>
		<script src="/scripts/modernizr.js"></script>
		<script src="/scripts/jquery.js"></script>
		<script src="/scripts/main.js"></script>
	</head>
	<body>
		<header>
			<a href="/">
				<span id="logotype">George Woodliff-Stanley</span>
			</a>
			<nav>
			  <ul>
				<li><a href="/">Home</a></li>
				<li><a href="/articles">Articles</a></li>
				<li><a href="/archives">Archives</a></li>
				<li><a href="/about">About</a></li>
			  </ul>
			</nav>
		</header>
		<section id ="content">{{ content }}</section>
		<footer>
		</footer>
	</body>
</html>