/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */ 
@font-face {
	font-family: 'Fontin';
	src: url('fontin-smallcaps-webfont.eot');
	src: local('☺'), url('fontin-smallcaps-webfont.woff') format('woff'), url('fontin-smallcaps-webfont.ttf') format('truetype'), url('fontin-smallcaps-webfont.svg#webfontbAVxYqDq') format('svg');
	font-weight: normal;
	font-style: small-caps;
}

@font-face {
	font-family: 'Fontin';
	src: url('fontin-regular-webfont.eot');
	src: local('☺'), url('fontin-regular-webfont.woff') format('woff'), url('fontin-regular-webfont.ttf') format('truetype'), url('fontin-regular-webfont.svg#webfontzMVa6eBD') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fontin';
	src: url('fontin-bold-webfont.eot');
	src: local('☺'), url('fontin-bold-webfont.woff') format('woff'), url('fontin-bold-webfont.ttf') format('truetype'), url('fontin-bold-webfont.svg#webfontQ9F6LXhK') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Fontin';
	src: url('fontin-italic-webfont.eot');
	src: local('☺'), url('fontin-italic-webfont.woff') format('woff'), url('fontin-italic-webfont.ttf') format('truetype'), url('fontin-italic-webfont.svg#webfonth2NqKPvq') format('svg');
	font-weight: normal;
	font-style: italic;
}

