<!-- Home -->
<!-- Stylesheets: home -->
<div id="about" class="box"><h1>Who I Am</h1></div>
<div id="articles" class="box">
	<h1>What I Think</h1>
	<!--<h2><a href="{{site/latestPost/relativeURL}}" title="[Permalink] {{site/latestPost/title}}">{{site/latestPost/title}}</a></h2>
	{{#site/recentPosts}}
		<a href="{{relativeURL}}" title="[Permalink] {{title}}">{{title}}</a>
	{{/site/recentPosts}}-->
</div>
<div id="projects" class="box"><h1>What I Do</h1></div>