---
layout: main
title: Articles
stylesheet: post.css
syntax-highlighting: yes
---
{% for post in paginator.posts %}
<article class="post">
	<header>
		<h1><a href="{{ post.url }}" title="[Permalink] {{ post.title }}">{{ post.title }}</a></h1>
		<span class="date">{{ post.date | date_to_string }}</span>
	</header>
	<section class="content">
		<blockquote>{{ post.content | truncatewords: 100 }}</blockquote>
	</section>
	<div class="more"><a href="{{ post.url }}">Continue reading&#8230;</a></div>
</article>
{% endfor %}
<section id="bottomNav">
	{% if paginator.previous_page %}
	<a href="/page{{ paginator.previous_page }}" title="{{ paginator.previous_page.title }}">&larr; Previous</a>
	{% endif %}
	{% if paginator.next_page %}
	<a href="/page{{ paginator.next_page }}" title="{{ paginator.next_page.title }}">Next &rarr;</a>
	{% endif %}
</section>